.topNavBar {
    background-color: $pine;
    width: 100%;
    padding: 24px 0;
    position: fixed;
    z-index: 1;
    &__list {
        display: flex;
        justify-content: space-between;
        width: 55%;
        margin: 0 auto;
    }
    &__link {
        @include menuTextHomeAbout;
        color: $whiteShade;
        text-transform: uppercase;
    }
    &__word {
        color: $whiteShade;
        font-family: 'Abril Fatface', cursive;
        font-size: 3.8rem;
        text-transform: uppercase;
        position: relative;
        top: -5px;
    }
    &__link:hover {
        color: $accent;
    }
}