h1 {
    color: $whiteShade;
    font-family: 'Abril Fatface', cursive;
    font-size: 15.2rem;
    letter-spacing: 0.1rem;
    line-height: 9.2rem;
    text-transform: uppercase;
    position: absolute;
    top: 55px;
    left: 60px;
}

.homeHeader {
    background-color: $pine;
    padding: 300px 0 285px 0;
    &__wrapper {
        position: relative;
    }
    &__text {
        position: relative;
    }
    &__mainProfileImg {
            position: absolute;
            top: -180px;
            right: 0;
    }
    @media (max-width: 1261px) {
        &__text {
            max-width: 750px;
            margin: 0 auto;
            top: -150px;
            left: 0;
        }
        &__mainProfileImg {
            margin: 0 auto;
            position: relative;
            top: 0;
        }
    }
    @media (max-width: 745px) {
        &__wrapper {
            padding: 0 100px;
        }
        &__text img {
            display: none;
        }
        &__title {
            font-size: 10.0rem;
            text-align: center;
            margin: 0 auto;
            position: relative;
            top: 0;
            left: 0;
        }
        &__title::before {
            content: 'Daily Musings Of';
            font-family: 'Montserrat', sans-serif;
            font-size: 2.0rem;
            display: block;
        }
    }
    @media (max-width: 555px) {
        padding: 300px 0 200px 0;
        &__title {
            font-size: 7.0rem;
        }
        &__mainProfileImg {
            top: -20px;
        }
    }
    @media (max-width: 420px) {
        &__title {
            font-size: 5.0rem;
        }
        &__title::before {
            top: 120px;
        }
    }
    @media (max-width: 355px) {
        padding: 300px 0 20px 0;
        &__title {
            font-size: 3.0rem;
        }
        &__mainProfileImg {
            top: -100px;
        }
    }
}

.whoseWillow {
    background-color: $whiteShade;
    text-align: center;
    padding: 120px 0 160px 0;
    &__text, 
    &__button {
        margin-top: 30px;
    }
    @media (max-width: 1261px) {
        &__text {
            max-width: 500px;
            margin: 30px auto 0 auto;
        }
    }
    @media (max-width: 555px) {
        &__text {
            font-size: 1.6rem;
            margin: 30px 30px 0 30px;
        }
    }
} 

.favouriteThings {
    display: flex; 
    position: relative;
    &__box {
        width: 50%;
        padding: 85px 10px 85px 85px;
        position: relative;
    } 
    &__image {
        box-shadow: 18px 18px 0 0 $greenGrey, -150px 18px 0 0 $greenGrey;
        position: absolute;
        top: -55px;
        right: 20px;
    }
    &__paragraph,
    &__button {
        margin-top: 30px;
    }
    @media (max-width: 1261px){
        &__paragraph {
            max-width: 500px;
        }
    }
    @media (max-width: 745px) {
        text-align: center;
        flex-direction: column;
        &__box {
            margin: 0 auto;
            padding: 0;
        }
        &__image {
            position: relative;
        }
    }
}

.bucketList {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    &__box {
        text-align: right;
        width: 50%;
        padding: 0 85px 85px 10px;
        position: relative;
    }
    &__image {
        box-shadow: 20px 20px 0 0 $pine, 150px 20px 0 0 $pine;
        position: absolute;
        left: 0;
    }
    &__paragraph, 
    &__button {
        margin-top: 30px; 
    }
    @media (max-width: 1261px){
        &__paragraph {
            max-width: 500px;
        }
    }
    @media (max-width: 745px) {
        flex-direction: column;
        margin-top: 50px;
        &__box {
            text-align: center;
            margin: 25px auto 50px auto;
            padding: 0;
        }
        &__image {
            position: relative;
        }
    }
}

.willowsJourney {
    background-color: $whiteShade;
    padding: 145px 0 85px 0;
    &__container {
        display: flex;
    }
    &__imgBox{
        width: 35%;
    }
    &__textBox {
        width: 65%;
    }
    &__paragraph, 
    &__button {
        margin-top: 30px;
    }
    &__imgBox img {
        box-shadow: 15px 15px 0 0 $greenGrey;
    }
    @media (max-width: 1261px) {
        &__paragraph {
            max-width: 550px;
        }
    }
    @media (max-width: 952px) {
        &__container {
            text-align: center;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            margin-top: 50px;
        }
    }
}

.fullWidthMeadow {
    &__img {
        width: 100%;
    }
}

.threeImageGallery {
    &__container {
        display: flex;
        padding: 95px 0;
    }
    &__box {
        width: calc((100% - 40px) / 3);
        margin: 0 20px;
    }
    &__box:first-child {
        margin-left: 0;
    }
    &__box:last-child {
        margin-right: 0;
    }
    @media (max-width: 420px){
        &__container {
            flex-direction: column;
            padding: 0;
        }
        &__box {
            width: 100%;
            margin: 0;
        }
        &__box img {
            width: 100%;
        }
    }
}

.additionalLinks {
    background-color: $whiteShade; 
    padding: 100px 0; 
    &__topHalf, 
    &__bottomHalf {
        display: flex;
    }
    &__bottomHalf {
        margin-top: 50px;
    }
    &__box {
        display: flex;
        width: 50%;
    }
    &__circle {
        background-color: $accent;
        border-radius: 50%;
        padding: 15px;
    }
    &__textBox {
        margin-left: 20px;
        padding-right: 10px;
    }
    &__text {
        margin-top: 20px;
    }
    &__box i {
        font-size: 20px; 
    }
    @media (max-width: 720px) {
        .additionalLinks {
            &__topHalf, 
            &__bottomHalf {
                flex-direction: column;
            }
            &__box {
                width: 100%;
                padding: 0 50px;
            }
            &__secondBox {
                margin-top: 50px;
            }
        }
    }
}

