.blogAndNewsHeader {
    background-image: url('../willowAssets/blog-image-1.jpg');
    background-position: center;
    background-size: cover;
    padding: 345px 0 0 0;
    &__title {
        color: $whiteShade;
        position: relative;
        bottom: -15px;
    }
    @media (max-width: 575px) {
        &__title {
            font-size: 6.0rem;
        }
    }
    @media (max-width: 430px) {
        &__title {
            font-size: 4.2rem;
        }
    }
}

.midPortion {
    background-color: $whiteShade;
    padding: 85px 0; 
    @media (max-width: 555px) {
        & p {
            font-size: 1.6rem;
        }
    }
}

.blogMidPortionTopHalf,
.blogMidPortionBottomHalf {
    display: flex;
}

.favouriteTravelDestinations, 
.aboutWillow, 
.recentPosts {
    background-color: white;
    padding: 40px;
}

.blogMidPortionTopHalf {
    &__leftSideTop {
        width: 40%;
        margin-right: 40px;
    }
    &__rightSideTop {
        width: 60%;
    }
    @media (max-width: 930px) {
        flex-direction: column;
        &__leftSideTop {
            width: 100%;
        }
        &__rightSideTop {
            width: 100%;
        }
    }
}

.blogMidPortionBottomHalf {
    &__leftSideBottom {
        width: 40%;
        margin-right: 40px;
    }
    &__rightSideBottom {
        width: 60%;
    }
    @media (max-width: 930px) {
        &__leftSideBottom {
            display: none;
        }
        &__rightSideBottom {
            width: 100%;
        }
    }
}

.favouriteTravelDestinations {
    border-bottom: 5px solid $greenGrey;
    &__title, 
    &__text {
        margin-top: 20px;
    }
    @media (max-width: 930px) {
        margin-top: 20px;
    }
}

.aboutWillow {
    &__title, 
    &__text {
        margin-top: 20px;
    }
    &__link {
        color: $greenGrey;
        font-weight: 700;
        transition: all 0.3s ease;
    }
    &__link:hover {
        color: $accent;
    }
    @media (max-width: 930px) {
        &__container {
            display: flex;
        }
        &__imageBox {
            margin-right: 30px;
        }
    }
    @media (max-width: 430px) {
        &__container {
            flex-direction: column;
        }
        &__imageBox {
            margin: 0 auto;
        }
    }
}

.recentPosts {
    margin-top: 20px;
    &__list {
        margin-top: 20px;
    }
    &__item {
        list-style: disc;
        list-style-position: inside;
    }
    &__text {
        display: inline;
        vertical-align: middle; 
    }
    @media (max-width: 930px) {
        text-align: center;
    }
}

.comments {
    &__list {
        margin-top: 35px;
    }
    &__itemOne, 
    &__itemTwo {
        background-color: white;
        display: flex;
    }
    &__itemTwo {
        border-bottom: 5px solid $greenGrey;
        margin-top: 20px;
    }
    &__imageOne, 
    &__imageTwo {
        width: 20%;
        padding: 30px;
    }
    &__textOne, 
    &__textTwo {
        width: 80%;
        padding: 30px 30px 30px 0;
    }
    @media (max-width: 545px) {
        &__imageOne,
        &__imageTwo {
            padding: 10px;
        }
    }
}

.submitCommentForm {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    &__partOne {
        display: flex;
    }
    &__partTwo, 
    &__partThree {
        width: 100%;
        margin-top: 20px;
    }
    &__name {
        margin-right: 15px;
    }
    &__name, 
    &__email {
        width: 50%;
    }
    &__commentBox, 
    &__submitButton {
        width: 100%;
    }
    @media (max-width: 545px) {
        &__partOne {
            flex-direction: column;
        }
        &__email {
            margin-top: 20px;
        }
        &__name, 
        &__email {
            width: 100%;
        }
    }
}


