/* Naming Convention Used: BEM (https://css-tricks.com/bem-101/) w/ camelCase and Media Query Bubbling (https://www.creativebloq.com/how-to/how-to-structure-media-queries-in-sass) */
/* File & Folder Convention Used: 7-1 Pattern (https://sass-guidelin.es/#the-7-1-pattern) w/ camelCase */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

html {
  font-size: 62.5%;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 8.0rem;
  letter-spacing: 0.1rem;
  line-height: 9.2rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 4.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h4 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

h5 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  line-height: 3.2rem;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.topNavBar {
  background-color: #345231;
  border: none;
  width: 100%;
  padding: 24px 0;
  position: fixed;
  z-index: 1;
}

.topNavBar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
  margin: 0 auto;
}

.topNavBar__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2.9rem;
  text-align: right;
  color: #F6F6F6;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topNavBar__word {
  color: #F6F6F6;
  font-family: 'Abril Fatface', cursive;
  font-size: 3.8rem;
  text-transform: uppercase;
  position: relative;
  top: -5px;
}

.topNavBar__hamburgerButton, .topNavBar__exitButton {
  display: none;
  position: absolute;
  top: 15px;
  right: 0;
  cursor: pointer;
}

.topNavBar__dropdown {
  display: none;
  text-align: center;
  text-transform: uppercase;
}

.topNavBar__dropdownLink {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2.9rem;
  text-align: right;
  color: #F6F6F6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topNavBar__link:hover, .topNavBar__dropdownLink:hover {
  color: #E4A436;
}

@media (max-width: 970px) {
  .topNavBar {
    padding: 40px 0;
  }
  .topNavBar__list {
    display: none;
  }
}

.border.topNavBar {
  border-bottom: 5px solid #709B6B;
}

.show.topNavBar__exitButton {
  display: block;
}

@media (max-width: 970px) {
  .show.topNavBar__hamburgerButton {
    display: block;
  }
}

header {
  padding-top: 100px;
}

footer {
  background-color: #1F1F1F;
  color: #F6F6F6;
  text-align: center;
  width: 100;
  padding: 5px 0;
}

footer p {
  font-size: 1.8rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

button {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.0rem;
  letter-spacing: 0.1rem;
  line-height: 3.2rem;
  text-align: center;
  background-color: #E4A436;
  text-transform: uppercase;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #709B6B;
  color: #F6F6F6;
}

input,
textarea {
  border-style: none;
  color: #1F1F1F;
  font-size: 2.0rem;
  padding: 25px 25px 25px 30px;
}

textarea {
  resize: none;
}

button[type="submit"] {
  width: 100%;
}

h1 {
  color: #F6F6F6;
  font-family: 'Abril Fatface', cursive;
  font-size: 15.2rem;
  letter-spacing: 0.1rem;
  line-height: 9.2rem;
  text-transform: uppercase;
  position: absolute;
  top: 55px;
  left: 60px;
}

@media (max-width: 555px) {
  main p {
    font-size: 1.6rem;
  }
}

.homeHeader {
  background-color: #345231;
  padding: 300px 0 285px 0;
}

.homeHeader__wrapper {
  position: relative;
}

.homeHeader__text {
  position: relative;
}

.homeHeader__mainProfileImg {
  position: absolute;
  top: -180px;
  right: 0;
}

@media (max-width: 1261px) {
  .homeHeader__text {
    max-width: 750px;
    margin: 0 auto;
    top: -150px;
    left: 0;
  }
  .homeHeader__mainProfileImg {
    margin: 0 auto;
    position: relative;
    top: 0;
  }
}

@media (max-width: 745px) {
  .homeHeader__wrapper {
    padding: 0 100px;
  }
  .homeHeader__text img {
    display: none;
  }
  .homeHeader__title {
    font-size: 10.0rem;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
  }
  .homeHeader__title::before {
    content: 'Daily Musings Of';
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
    display: block;
  }
}

@media (max-width: 650px) {
  .homeHeader {
    padding: 300px 0 20px 0;
  }
  .homeHeader__title {
    font-size: 3.0rem;
  }
  .homeHeader__title::before {
    top: 120px;
  }
  .homeHeader__mainProfileImg {
    top: -100px;
  }
}

.whoseWillow {
  background-color: #F6F6F6;
  text-align: center;
  padding: 120px 0 160px 0;
}

.whoseWillow__text, .whoseWillow__button {
  margin-top: 30px;
}

@media (max-width: 1261px) {
  .whoseWillow__text {
    max-width: 500px;
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 555px) {
  .whoseWillow__text {
    margin: 30px 30px 0 30px;
  }
}

.favouriteThings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.favouriteThings__box {
  width: 50%;
  padding: 85px 10px 85px 85px;
  position: relative;
}

.favouriteThings__image {
  -webkit-box-shadow: 18px 18px 0 0 #709B6B, -150px 18px 0 0 #709B6B;
          box-shadow: 18px 18px 0 0 #709B6B, -150px 18px 0 0 #709B6B;
  position: absolute;
  top: -55px;
  right: 20px;
}

.favouriteThings__paragraph, .favouriteThings__button {
  margin-top: 30px;
}

@media (max-width: 1261px) {
  .favouriteThings__paragraph {
    max-width: 500px;
  }
}

@media (max-width: 745px) {
  .favouriteThings {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .favouriteThings__box {
    margin: 0 auto;
    padding: 0;
  }
  .favouriteThings__image {
    position: relative;
  }
}

.bucketList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}

.bucketList__box {
  text-align: right;
  width: 50%;
  padding: 0 85px 85px 10px;
  position: relative;
}

.bucketList__image {
  -webkit-box-shadow: 20px 20px 0 0 #345231, 150px 20px 0 0 #345231;
          box-shadow: 20px 20px 0 0 #345231, 150px 20px 0 0 #345231;
  position: absolute;
  left: 0;
}

.bucketList__paragraph, .bucketList__button {
  margin-top: 30px;
}

@media (max-width: 1261px) {
  .bucketList__paragraph {
    max-width: 500px;
  }
}

@media (max-width: 745px) {
  .bucketList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .bucketList__box {
    text-align: center;
    margin: 25px auto 50px auto;
    padding: 0;
  }
  .bucketList__image {
    position: relative;
  }
}

.willowsJourney {
  background-color: #F6F6F6;
  padding: 145px 0 85px 0;
}

.willowsJourney__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.willowsJourney__imgBox {
  width: 35%;
}

.willowsJourney__textBox {
  width: 65%;
}

.willowsJourney__paragraph, .willowsJourney__button {
  margin-top: 30px;
}

.willowsJourney__imgBox img {
  -webkit-box-shadow: 15px 15px 0 0 #709B6B;
          box-shadow: 15px 15px 0 0 #709B6B;
}

@media (max-width: 1261px) {
  .willowsJourney__paragraph {
    max-width: 550px;
  }
}

@media (max-width: 952px) {
  .willowsJourney__container {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .willowsJourney__title {
    margin-top: 50px;
  }
}

.fullWidthMeadow__img {
  width: 100%;
}

.threeImageGallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 95px 0;
}

.threeImageGallery__box {
  width: calc((100% - 40px) / 3);
  margin: 0 20px;
}

.threeImageGallery__box:first-child {
  margin-left: 0;
}

.threeImageGallery__box:last-child {
  margin-right: 0;
}

@media (max-width: 420px) {
  .threeImageGallery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .threeImageGallery__box {
    width: 100%;
    margin: 0;
  }
  .threeImageGallery__box img {
    width: 100%;
  }
}

.additionalLinks {
  background-color: #F6F6F6;
  padding: 100px 0;
}

.additionalLinks__topHalf, .additionalLinks__bottomHalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.additionalLinks__bottomHalf {
  margin-top: 50px;
}

.additionalLinks__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.additionalLinks__circle {
  background-color: #E4A436;
  border-radius: 50%;
  padding: 15px;
}

.additionalLinks__textBox {
  margin-left: 20px;
  padding-right: 10px;
}

.additionalLinks__text {
  margin-top: 20px;
}

.additionalLinks__box i {
  font-size: 20px;
}

@media (max-width: 720px) {
  .additionalLinks .additionalLinks__topHalf, .additionalLinks .additionalLinks__bottomHalf {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .additionalLinks .additionalLinks__box {
    width: 100%;
    padding: 0 50px;
  }
  .additionalLinks .additionalLinks__secondBox {
    margin-top: 50px;
  }
}

.blogAndNewsHeader {
  background-image: url("../willowAssets/blog-image-1.jpg");
  background-position: center;
  background-size: cover;
  padding: 345px 0 0 0;
}

.blogAndNewsHeader__title {
  color: #F6F6F6;
  position: relative;
  bottom: -15px;
}

@media (max-width: 575px) {
  .blogAndNewsHeader__title {
    font-size: 6.0rem;
  }
}

@media (max-width: 430px) {
  .blogAndNewsHeader__title {
    font-size: 4.2rem;
  }
}

.midPortion {
  background-color: #F6F6F6;
  padding: 85px 0;
}

@media (max-width: 555px) {
  .midPortion p {
    font-size: 1.6rem;
  }
}

.blogMidPortionTopHalf,
.blogMidPortionBottomHalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.favouriteTravelDestinations,
.aboutWillow,
.recentPosts {
  background-color: white;
  padding: 40px;
}

.blogMidPortionTopHalf__leftSideTop {
  width: 40%;
  margin-right: 40px;
}

.blogMidPortionTopHalf__rightSideTop {
  width: 60%;
}

@media (max-width: 930px) {
  .blogMidPortionTopHalf {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogMidPortionTopHalf__leftSideTop {
    width: 100%;
  }
  .blogMidPortionTopHalf__rightSideTop {
    width: 100%;
  }
}

.blogMidPortionBottomHalf__leftSideBottom {
  width: 40%;
  margin-right: 40px;
}

.blogMidPortionBottomHalf__rightSideBottom {
  width: 60%;
}

@media (max-width: 930px) {
  .blogMidPortionBottomHalf__leftSideBottom {
    display: none;
  }
  .blogMidPortionBottomHalf__rightSideBottom {
    width: 100%;
  }
}

.favouriteTravelDestinations {
  border-bottom: 5px solid #709B6B;
}

.favouriteTravelDestinations__title, .favouriteTravelDestinations__text {
  margin-top: 20px;
}

@media (max-width: 930px) {
  .favouriteTravelDestinations {
    margin-top: 20px;
  }
}

.aboutWillow__title, .aboutWillow__text {
  margin-top: 20px;
}

.aboutWillow__link {
  color: #709B6B;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.aboutWillow__link:hover {
  color: #E4A436;
}

@media (max-width: 930px) {
  .aboutWillow__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aboutWillow__imageBox {
    margin-right: 30px;
  }
}

@media (max-width: 430px) {
  .aboutWillow__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutWillow__imageBox {
    margin: 0 auto;
  }
}

.recentPosts {
  margin-top: 20px;
}

.recentPosts__list {
  margin-top: 20px;
}

.recentPosts__item {
  list-style: disc;
  list-style-position: inside;
}

.recentPosts__text {
  display: inline;
  vertical-align: middle;
}

@media (max-width: 930px) {
  .recentPosts {
    text-align: center;
  }
}

.comments__list {
  margin-top: 35px;
}

.comments__itemOne, .comments__itemTwo {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments__itemTwo {
  border-bottom: 5px solid #709B6B;
  margin-top: 20px;
}

.comments__imageOne, .comments__imageTwo {
  width: 20%;
  padding: 30px;
}

.comments__textOne, .comments__textTwo {
  width: 80%;
  padding: 30px 30px 30px 0;
}

@media (max-width: 545px) {
  .comments__imageOne, .comments__imageTwo {
    padding: 10px;
  }
}

.submitCommentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
}

.submitCommentForm__partOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submitCommentForm__partTwo, .submitCommentForm__partThree {
  width: 100%;
  margin-top: 20px;
}

.submitCommentForm__name {
  margin-right: 15px;
}

.submitCommentForm__name, .submitCommentForm__email {
  width: 50%;
}

.submitCommentForm__commentBox, .submitCommentForm__submitButton {
  width: 100%;
}

@media (max-width: 545px) {
  .submitCommentForm__partOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .submitCommentForm__email {
    margin-top: 20px;
  }
  .submitCommentForm__name, .submitCommentForm__email {
    width: 100%;
  }
}

.contactHeader {
  background-image: url("../willowAssets/contact-image-1.jpg");
  background-position: center;
  background-size: cover;
  padding: 345px 0 0 0;
}

.contactHeader__title {
  color: #F6F6F6;
  position: relative;
  bottom: -15px;
}

@media (max-width: 575px) {
  .contactHeader__title {
    font-size: 6.0rem;
  }
}

@media (max-width: 430px) {
  .contactHeader__title {
    font-size: 4.2rem;
  }
}

.mainPortionContact p, .mainPortionContact input, .mainPortionContact textarea {
  font-size: 1.6rem;
}

.mainPortionContact {
  background-color: #F6F6F6;
  padding: 75px 0;
}

.mainPortionContact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainPortionContact__leftSide {
  width: 30%;
  margin-right: 40px;
}

.mainPortionContact__rightSide {
  width: 70%;
}

@media (max-width: 815px) {
  .mainPortionContact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainPortionContact__leftSide {
    text-align: center;
    width: 100%;
  }
  .mainPortionContact__rightSide {
    margin: 0 auto;
  }
}

@media (max-width: 430px) {
  .mainPortionContact__rightSide {
    width: 100%;
  }
}

.contactInfo {
  background-color: white;
  padding: 35px;
}

.contactInfo__socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 175px;
}

.contactInfo__iconLink {
  color: #345231;
  font-size: 2.8rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contactInfo__email {
  color: #1F1F1F;
  font-weight: 700;
  margin-top: 10px;
}

.contactInfo__address {
  margin-top: 10px;
}

.contactInfo__iconLink:hover {
  color: #E4A436;
}

@media (max-width: 815px) {
  .contactInfo__socialList {
    margin: 0 auto;
  }
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactForm__partOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm__partTwo, .contactForm__partThree {
  width: 100%;
  margin-top: 20px;
}

.contactForm__name {
  margin-right: 15px;
}

.contactForm__name, .contactForm__email {
  width: 50%;
}

.contactForm__messageBox, .contactForm__submitButton {
  width: 100%;
}

@media (max-width: 815px) {
  .contactForm__partOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactForm__name, .contactForm__email {
    width: 100%;
    margin-top: 20px;
  }
}
